# Ignore virtual environment
venv/
.env/

# Ignore python cache
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore model weights (YOLO)
models/
*.pt

# Ignore dataset folders
data/
datasets/

# Ignore temporary files
*.log
.DS_Store
